li {
    display: flex;
    align-items: center;
    margin-bottom: "10px";
}

label {
    flex: 1;
}

input[type="checkbox"]:checked + label {
    text-decoration: line-through; /* Adiciona um sublinhado ao texto quando o checkbox está marcado */
}
